
</body>
<footer class="footer-page">
  <div class="first container">
    <div class="row">
      <div class="col-lg-6">
      
      </div>
      <div class="col-lg-6">
            
      </div>
    </div>
  </div>
  <div class="second">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright   Orlando Jesus - © {{ getAnio }}  </p>
        </div>
      </div>
    </div>
  </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="./assets/js/bootstrap.min.js"></script>

</body>
</html>