{{> head }}
{{> navbar}}
<section class="me text-center" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="gray">¿QUIEN SOY?</h2>
         <div class="separator"></div>
      </div>
     
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="gray">{{description}}</p>
      </div>
    </div>
  </div>
</section>
{{> footer }}